{% extends 'base.html' %}

{% block content %}
    <main class="inbox my-xl">
        <div class="content-box">
            <h3 class="inbox__title">New messages:(<span>{{ unread_count }}</span>)</h3>
            {% if not message_requests %}
                <span>you have no messages</span>
            {% endif %}

            <br>
            <ul class="messages">
                {% for message in message_requests %}
                    {% if message.is_read == False %}
                        <li class="message message--unread">
                            {% else %}
                        <li class="message">
                    {% endif %}

                <a href="{% url 'message' message.id %}">
                    <span class="message__author">{{ message.name }}</span>
                    <span class="message__subject">{{ message.subject }}</span>
                    <span class="message__date">{{ message.created }}</span>
                </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>

{% endblock content %}