{% extends 'base.html' %}

{% block content %}


    <main class="formPage my-xl">
        <div class="content-box px-5"
             style=" background-color:#F8F8F8 ;border-radius: 25px; border: 1px solid #2d2d39;">

            <a class=" mt-5 backButton" href="{% url 'account' %}"><img src="{{ profile.image.url }}"><i class="im im-angle-left"></i></a>
            <br>

            <form method="POST" action="{% url 'edit-account' %}" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form__field">
                        <label class="fs-4" for="formInput#text">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <input class="mb-5 btn btn-primary btn-lg " type="submit" value="Сохранить"/>
            </form>
        </div>
    </main>

{% endblock content %}