{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{% load static %}


<main class=" my-x">
    <div class="w-75 mx-auto form-log text-center">
        <div class="formWapper">
            <br>
            <form hx-post="{{ request.path }}" class="modal-content form"  >
                 {% csrf_token %}
{#                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'#}
                <p>Вы действительно хотите удалить "{{ skill }}"?</p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input class="btn btn-lg btn-primary my-md " type="submit" value="Удалить" />

            </form>
        </div>
    </div>

</main>

{#{% endblock %}#}